form{
    background-color: brown;
    text-align: center;
    width: 400px;
    height: 300px;
}

.text{
    color: white;
    font-size: 25px;
}

input{
    border-radius: 15px;
    border:none ;
    width: 150px;
    height: 30px;

}

button{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: blue;
    color: white;
}